## Assignment 3 – Web service


### Linoy Medalsy
#### 206073124

In [1]:
#! pip install requests
import requests
import json
import pandas as pd

In [2]:
#Defind some details.
api_key = ''

#destinations text file
dest_file = "C:/Users/linoy/OneDrive/שולחן העבודה/לימודים/תואר/שנה ג/סמסטר ב/כרייה וניתוח נתונים מתקדם בפייתון/קודים/מטלות/מטלה 3/dests.txt"

In [3]:
#create the destinations list

file = open(dest_file, 'r')
file_read = file.read()
destinations = file_read.split("\n")

In [4]:
destinations

['Istanbul', 'Amsterdam', 'Valletta', 'Basel', 'Doha']

In [5]:
df = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration(hour+minutes)', 'Longitude', 'Latitude'])

In [6]:
#Definf function that would convert second to hours and minutes for the Duration(hour+minutes) column.
def sec_to_hours(seconds):
    hours=str(seconds//3600)
    minutes=str((seconds%3600)//60)
    time = "{} hours {} mins ".format(hours, minutes)
    return time

In [7]:
#retrieve the information from google services and create the dataframe.
for city in destinations:
    dis_mat_url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins=Tel+Aviv&destinations=%s&key=%s" % (city,api_key)
    dist_response = requests.get(dis_mat_url).json()
    distance = (dist_response['rows'][0]['elements'][0]['distance']['text']).replace(' km', '')
    seconds = dist_response['rows'][0]['elements'][0]['duration']['value']
    duration = sec_to_hours(seconds)
    
    geo_url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (city,api_key)
    geo_response = requests.get(geo_url).json()
    longitude = geo_response['results'][0]['geometry']['location']['lng']
    latitude = geo_response['results'][0]['geometry']['location']['lat']

    #add the values of each city to the dataframe i created.
    new_row = {'Target': city, 'Distance_km': distance, 'Duration(hour+minutes)': duration, 'Longitude': longitude, 'Latitude': latitude}
    df = pd.concat([df,pd.DataFrame([new_row])], ignore_index=True)

In [8]:
df

      Target Distance_km Duration(hour+minutes)  Longitude   Latitude
0   Istanbul       1,815       21 hours 2 mins   28.978359  41.008238
1  Amsterdam       4,533       48 hours 3 mins    4.904139  52.367573
2   Valletta       3,793      50 hours 50 mins   14.514100  35.899237
3      Basel       4,093       44 hours 2 mins    7.588576  47.559599
4       Doha       2,164      22 hours 38 mins   51.531040  25.285447

In [9]:
#Finding the 3 cities furthest from Tel Aviv by sorting the df by Distance_km column.
sorted_df = df.sort_values('Distance_km',ascending=False).reset_index(drop=True)
furthest_cities = sorted_df.loc[:2]
furthest_cities

      Target Distance_km Duration(hour+minutes)  Longitude   Latitude
0  Amsterdam       4,533       48 hours 3 mins    4.904139  52.367573
1      Basel       4,093       44 hours 2 mins    7.588576  47.559599
2   Valletta       3,793      50 hours 50 mins   14.514100  35.899237

In [10]:
sorted_df.loc[:2,['Target']]

      Target
0  Amsterdam
1      Basel
2   Valletta